<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYKcThaIqUmGyhqJxkTFshUquzZFDyL4o</string>
	<key>GCM_SENDER_ID</key>
	<string>375849000446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nubasoft.rahaa1</string>
	<key>PROJECT_ID</key>
	<string>mswy-dayt</string>
	<key>STORAGE_BUCKET</key>
	<string>mswy-dayt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375849000446:ios:070404b5e517751e54b4af</string>
</dict>
</plist>